<html>

<head>
    <title>FindRestaurantes</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div id="main" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">FindRestaurantes</a>
    </nav>
      
    <div class="input-group">
        <select id="searchBar" onchange="findById(value);" class="form-control">
                <option value="todos">Todos</option>
            <% restaurants.forEach(function(restaurant){ %>
                <option value="<%= restaurant._id %>"><%= restaurant.name %></option>
                <% }); %>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" id="filter" type="button" data-toggle="dropdown">Nome</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="searchFilter('Nome')">Nome</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" onclick="searchFilter('Culinária')">Tipo de Culinária</a>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-secondary" onclick="order()" type="button">Ordenar por mais proximos</button>

        <div id="restaurants">
            <% restaurants.forEach(function(restaurant){ %>
                <div data-order="<%= restaurant.distance %>" class="col-xs-1 <%= restaurant.name.split(" ").join("").normalize('NFD').replace(/[\u0300-\u036f]/g, "") %>" id="<%= restaurant._id %>" align="center">
                    <h1 class="display-4"> <%= restaurant.name %></h1>
                    <div class="img-responsive"><img src="<%= restaurant.photo %>"></div>
                    <h4><%= restaurant.kitchen %></h4>
                    <div class="rating">
                       <% for(var i = 0; i < Math.random() * 6; i++){ %><span class="fa fa-star checked"></span><% } %>
                    </div>
                    <h4 class="distance"><%= restaurant.distance %> km de sua região</h4>
                    <hr>
                </div>
            <% }); %>
        </div>
    </div>
            <script src="../public/search.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
            <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>